<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <style>
        .img {
            object-fit: contain;
            max-width: 100%;
        }

        .primary-image {
            height: 300px;
        }

        .images {
            height: 150px;
        }
    </style>
</head>
<body>
    <div id="mainApp">
        <div class="container">
            <div class="row py-3">
                <div class="col-md-12">
                    <h2>狀態確認</h2>
                    <button id="check" v-on:click="checkLogin()" type="button" class="btn btn-outline-success">
                        登入確認
                    </button>
                    <button id="logout" v-on:click="logout()" type="button" class="btn btn-outline-danger">
                        登出帳號
                    </button>
                    <hr/>
                </div>

                <!-- uploadImagePath -->
                <div class="col-md-12">
                    <h2>上傳圖片網址</h2>
                    <form enctype="multipart/form-data" method="post">
                        <input id="fileInput" type="file" @change="uploadImage()" name="file-to-upload" class="form-control" />
                        <p style="display: block; overflow: auto;"> {{ showMessage }} </p>
                    </form>
                    <!-- 上傳圖片元件(轉換失敗，想問助教是否有可以參考的例子) -->
                    <!-- <file-upload></file-upload> -->
                    
                    <hr/>
                </div>
                <!-- productPath -->
                <div class="col-md-12">
                    <h2>產品列表</h2>
                    <div style="text-align: right;">
                        <button type="button" @click="openModal('new')" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#productModal">
                            建立新產品
                        </button>
                    </div>
                    <!-- productTable -->
                    <table class="table table-hover mt-4" style="text-align: center;">
                        <thead>
                            <tr>
                                <th width="150">分類</th>
                                <th width="150">產品名稱</th>
                                <th width="120">原價</th>
                                <th width="120">售價</th>
                                <th width="150">是否啟用</th>
                                <th width="120">編輯</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(product) in productList" :key="product.id">
                                <td width="150">{{ product.category }}</td>
                                <td width="150">{{ product.title }}</td>
                                <td width="120"><del>{{ product.origin_price }}</del></td>
                                <td width="120">{{ product.price }}</td>
                                <td width="150">
                                    
                                    <div v-if="product.is_enabled">
                                        <p style="color: rgb(36, 212, 95);">啟用</p>
                                    </div>
                                    <div v-else>
                                        <p style="color: black;">未啟用</p>
                                    </div>

                                </td>
                                <td width="120">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn btn-outline-primary"
                                            @click="selectProduct = {...product}, openModal('edit', product)">
                                            編輯
                                        </button>
                                        <button type="button" class="btn btn btn-outline-danger"
                                            v-on:click=" selectProduct = {...product}, openDeleteModal(product)">
                                            刪除
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- 分頁元件 -->
                    <pagination-pages :pages="pages" @emit-pages="getProductPages"></pagination-pages>
                    <!-- 分頁元件 -->
                </div>
            </div>
        </div>
        <!-- Modal元件 -->
        <!-- productModal -->
        <product-modal ref="selectitem" :selectitem="selectProduct" :is-new="isNew" @update="getProductPages"></product-modal>
        <!-- deleteModal -->
        <delete-modal ref="selectitem" :selectitem="selectProduct" @update="getProductPages"></delete-modal>
        <!-- Modal -->

    </div>
    <!-- 上傳圖片元件(轉換失敗，想問助教是否有可以參考的例子) -->
    <!-- <script type="text/x-template" id="fileUpload">
        <form id="fileUpload" enctype="multipart/form-data" method="post">
            <input id="fileInput" type="file" @change="uploadImage()" name="file-to-upload" class="form-control" />
            <p style="display: block; overflow: auto;"> {{ message }} </p>
        </form>
    </script> -->

    <!-- 分頁元件 -->
    <script type="text/x-template" id="pagination">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item" :class="{'disabled':pages.current_page === 1}" >
                    <!-- <a class="page-link" href="#" aria-label="Previous" @click.prevent="getProductPages(1)">
                        <span aria-hidden="true">&laquo;</span>
                    </a> -->
                    <a class="page-link" href="#" aria-label="Previous" @click.prevent="emitPages(pages.current_page - 1)">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item" :class="{'active':page === pages.current_page}" 
                    v-for="page in pages.total_pages" :key="page + 'page'">
                    <!-- <a class="page-link" href="#" @click.prevent="getProductPages(page)">
                        {{ page }}
                    </a> -->

                    <a class="page-link" href="#" @click.prevent="emitPages(page)">
                        {{ page }}
                    </a>
                </li>
                <li class="page-item" :class="{'disabled':pages.current_page === pages.total_pages}">
                    <!-- <a class="page-link" href="#" aria-label="Next" @click.prevent="getProductPages(pages.total_pages)" >
                        <span aria-hidden="true">&raquo;</span>
                    </a> -->
                    <a class="page-link" href="#" aria-label="Next" @click.prevent="emitPages(pages.current_page + 1)" >
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </script>

    <!-- 開啟productModal -->
    <script type="text/x-template" id="productModal">
        <div id="productModal" class="modal fade" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header bg-dark text-white" style="background-color: black;">
                    <h5 class="modal-title" id="productModalLabel">
                        <span v-if="isNew">新增產品</span>
                        <span v-else>編輯產品</span>
                        {{ selectitem.title }}
                    </h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="imageUrl" class="form-label">主要圖片</label>
                            <input v-model="selectitem.imageUrl" type="text" class="form-control mb-2" placeholder="請輸入圖片連結">
                            <img v-if="isNew" class="img-fluid" :src="selectitem.imageUrl">
                            <img v-else v-bind:src="selectitem.imageUrl" class="img-fluid" v-bind:alt="selectitem.title"
                                v-bind:title="`${selectitem.title} : ${ selectitem.description}`" />
                            <label class="form-label">多圖新增</label>
                            <div v-if="Array.isArray(selectitem.imagesUrl)">
                                <div class="mb-1" v-for="(image, key) in selectitem.imagesUrl" :key="key">
                                    <div class="mb-3">
                                      <label for="imageUrl" class="form-label">圖片網址</label>
                                      <input v-model="selectitem.imagesUrl[key]" type="text" class="form-control"
                                        placeholder="請輸入圖片連結">
                                    </div>
                                    <img class="img-fluid" :src="image">
                                </div>
                                <div v-if="!selectitem.imagesUrl.length || selectitem.imagesUrl[selectitem.imagesUrl.length - 1]">
                                    <button type="button" class="btn btn btn-outline-success col-md-12 ms-auto" @click="selectitem.imagesUrl.push('')">
                                        新增圖片
                                    </button>
                                </div>
                                <div v-else>
                                    <button type="button" class="btn btn btn-outline-danger col-md-12 ms-auto" @click="selectitem.imagesUrl.pop()">
                                        刪除圖片
                                    </button>
                                </div>
                            </div>
                            <div v-else>
                                <button type="button" class="btn btn btn-outline-success col-md-12 ms-auto" @click="insertImages">
                                    新增圖片
                                </button>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="row">
                                <label for="selectTitle" class="">標題</label>
                                <div class="col-md-12">
                                    <input id="selectTitle" type="text" class="form-control" placeholder="請輸入標題" v-model="selectitem.title" />
                                </div>
                                <label for="selectCategory" class="col-md-6 ms-auto">分類</label>
                                <label for="selectUnit" class="col-md-6 ms-auto">單位</label>
                                <div class="col-md-6">
                                    <input id="selectCategory" type="text" class="form-control" placeholder="請輸入分類" v-model="selectitem.category" />
                                </div>
                                <div class="col-md-6">
                                    <input id="selectUnit" type="text" class="form-control" placeholder="請輸入單位" v-model="selectitem.unit" />
                                </div>
                                <label for="selectOriginprice" class="col-md-6 ms-auto">原價</label>
                                <label for="selectPrice" class="col-md-6 ms-auto">售價</label>
                                <div class="col-md-6">
                                    <input id="selectOriginprice" type="number" min="0" class="form-control" placeholder="請輸入原價" v-model="selectitem.origin_price" />
                                </div>
                                <div class="col-md-6">
                                    <input id="selectPrice" type="number" min="0" class="form-control" placeholder="請輸入售價" v-model="selectitem.price" />
                                </div>
                                <label for="selectDescription" class="col-md-12">商品描述</label>
                                <div class="col-md-12">
                                    <textarea id="selectDescription" class="form-control" placeholder="請輸入商品描述" v-model="selectitem.description"></textarea>
                                </div>
                                <label for="selectContent" class="col-md-12">說明內容</label>
                                <div class="col-md-12">
                                    <textarea id="selectContent" class="form-control" placeholder="請輸入說明內容" v-model="selectitem.content"></textarea>
                                </div>
                                <div class="col-md-12">
                                    <input id="selectEnabled" type="checkbox"  :value="selectitem.is_enabled" :checked="selectitem.is_enabled" v-model="selectitem.is_enabled" />
                                    <label for="selectEnabled">是否啟用</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" @click="updateProduct">確認</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                </div>
            </div>
            </div>
        </div>
    </script>

    <!-- 開啟deleteModal -->
    <script type="text/x-template" id="deleteModal">
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-danger text-white">
                        <h5 class="modal-title" id="deleteModalLabel">刪除商品</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        確認要刪除 <strong class="text-danger">{{ selectitem.title }}</strong> 商品嗎?(刪除後將無法恢復)。
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" @click="deleteProduct()">確認刪除</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </script>
    
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./products.js" type="module" />


</body>
</html>